<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
    <connectionStrings>
        <add connectionString="server=localhost;uid=tasklistU25m4;pwd=&quot;7%w]({;oXz7c&quot;;Database=tasklist" name="tasklist" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
